main{
      display: flex;
      flex-direction: column;
}

button {
      margin-right: .7rem;
      display: flex;
      align-self: flex-end;
}
strong{
      color: rgb(226, 10, 10);
}
.text-dialog{
      font-size: 1.1rem;
      color: black;
      
}

.title-dialog{
      text-transform: uppercase;
      color: rgb(226, 10, 10);
}


.no:hover {
      background-color: rgb(252, 154, 154);
      transition: 1s;
}


.yes:hover {
      background-color: rgb(171, 245, 175);
      transition: .7s;
}

/* @media (max-width: 500px) {      
      main{
            flex-direction: row;
      }
} */