<main>
      <img [src]="logoImg" alt="Logo Atlética Fatec Ipiranga" />
    
          <h1>Bem vindo potrinho!</h1>
          <h2>Para escolher seu padrinho ou madrinha, digite seu código abaixo:</h2>
          <form (ngSubmit)="onSubmit()">
                <mat-form-field class="input-code-size" appearance="outline">
                  <mat-label>Insira o código</mat-label>
                  <input matInput placeHolder="Ex: 'Insira o código" type="password" maxlength="20" name="password" required />
                  <!-- [(ngModel)]="password" -->
                  <div *ngIf="error">{{ error }}</div>
                  
                  <mat-error >
                    {{ error }}
                  </mat-error>
                  <mat-error >
                    Código <strong>Obrigatório</strong>
                  </mat-error>
                </mat-form-field>            
              </form>
    
              <div class="btn">
                <button mat-raised-button color="primary" type="submit">Entrar</button>
              </div>
    </main>
    